import { QWrapperSettings } from 'q-wrapper/lib/models';

class RabbitMQService {
  setup: async (qWrapperSettings: QWrapperSettings): Promise<void> => {
    console.log('Setup mocked');
  },

  {% for path, channel in swagger.channels -%}
  {% if channel.publish and _.includes(nodegenRc.helpers.publishOpIds, channel.publish.operationId) -%}
  {% set channelId = _.toUpper(channel.publish.operationId) -%}
  /**
   * Path: {{ path }} publish
   * OperationID: {{ channel.publish.operationId }}
   * Description: {{ channel.description }}
   */
  publish{{ ucFirst(channel.publish.operationId) }}: jest.fn().mockImplementation((): void => {
    return;
  }),
  {% endif %}{% endfor -%}
}

export default new RabbitMQService();
